extends index.pug
block head
    +head("About Us")
block landing
    .landing_two
        .container
            div About Us
            div 
                a(href="index.html") Home / 
                a(href="about.html") About Us
block features
    div
block products
    div
block adsense
    div
block customer
    div
block blog
    div