extends index.pug
block head
    +head("Blog")
block landing
    .landing_two
        .container
            div Blog
            div 
                a(href="index.html") Home / 
                a(href="blog.html") Blog
block about
    div
block features
    div
block products
    div
block adsense
    div
block customer
    div