extends index.pug
block head
    +head("Features")
block landing
    .landing_two
        .container
            div Features
            div 
                a(href="index.html") Home / 
                a(href="features.html") Features
block about
    div
block products
    div
block adsense
    div
block customer
    div
block blog
    div