extends index.pug
block head
    +head("Products")
block landing
    .landing_two
        .container
            div Products
            div 
                a(href="index.html") Home / 
                a(href="products.html") Products
block about
    div
block features
    div
block adsense
    div
block customer
    div
block blog
    div